
#about_content p {
    text-indent: 32px;
}

#about_content {
    max-width: 750px;
    margin: 4rem auto;
}

.person-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em 2em 3em 1em;
}

.person-card .id {
    text-align: center;
}

.person-card .id h4 {
    margin-bottom: 6px;
}
.person-card .person-image-container img {
    height: 200px;
    width: 200px;
    padding-left: 4px;
    border-radius: 100px
}


@media only screen and (min-width: 992px) {
    .check-out-prices {
        justify-content: start;
    }
    
}
@media only screen and (max-width: 992px) {
    #about_content .check-out-prices p {
        padding-top: 20px;
        text-indent: 0;
    }
    #about_content {
        padding: 0 2rem;
    }
}
@media only screen and (max-width: 768px) {
    #about_content {
        flex-direction: column
    }
    #about_content .left-column {
        display: flex;
        align-self: center;
    }
    #about_content .left-column .person-image-container {
        margin-right: 0rem!important;
    }
}
@media only screen and (max-width: 578px) {
    .person-image-container {
        width: 150px;
        height: 150px;
    }
    .person-card .person-image-container img {
        height: 150px;
        width: 150px;
    }
}
@media only screen and (max-width: 425px) {
    .person-image-container {
        width: 125px;
        height: 125px;
    }
    .person-card .person-image-container img {
        height: 125px;
        width: 125px;
    }
}
@media only screen and (max-width: 375px) {
    .person-image-container {
        width: 150px;
        height: 150px;
    }
    .person-card .person-image-container img {
        height: 150px;
        width: 150px;
    }
    #about_content > .d-flex {
        flex-direction: column;
    }
}
