/* -------- Global -------- */
body {
    background-color: #EFF0F9;
    color: #0A2145;
    font-family: 'Sarabun', sans-serif;
}
.container {
    background-color: #fff;
    padding: 0;
    box-shadow: 0px 0px 5.3px rgba(0, 0, 0, 0.028), 0px 0px 17.9px rgba(0, 0, 0, 0.042), 0px 0px 80px rgba(0, 0, 0, 0.07);
}
section.row {
    padding: 3rem;
    margin: 0;
    background-color:#fff;
    position: relative;
    z-index: 20;
    border-top: 3px solid rgba(0,0,0,0.04);
}
nav {
    padding: 0 3rem;
    box-shadow: 0px 1.3px 4.3px rgb(0 0 0 / 3%), 0px 4.5px 11.9px rgb(0 0 0 / 4%), 0px 15px 29px rgb(0 0 0 / 7%);
    position: sticky;
    top: 0;
    background-color: #fff;
}
nav .logo {
    width: 40px;
}


/* -------- Type -------- */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Sarabun', sans-serif;
    font-weight: 700;
}
h1 {font-size: 56px}
h2 {font-size: 40px}
h3 {font-size: 36px}
h4 {font-size: 24px}
h5 {font-size: 18px}
p {font-size: 16px!important;line-height: 22px;}

@media only screen and (max-width: 1400px) {
    h1 {font-size: 48px}
    h2 {font-size: 36px}
    h3 {font-size: 32px}
}
@media only screen and (max-width: 1200px) {
    h1 {font-size: 36px}
    h2 {font-size: 30px}
    h3 {line-height: 34px}
}
@media only screen and (max-width: 992px) {
    h1 {font-size: 30px}
    h2 {font-size: 26px}
}
@media only screen and (max-width: 578px) {
    h1 {font-size: 28px}
    h2 {font-size: 36px}
}


/* -------- Buttons -------- */
nav#desktop_nav ul li a {
    padding: 10px 20px;
}
.btn {
    height: 20px;
    text-decoration: none;
    color: #0A2145;
}
.btn-primary {
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #FA7B6B;
    color: #fff;
	overflow: hidden;
    position: relative;
    min-width: 85px;
}
.btn-link, .btn-link:active, .btn-link:visited {
    color: #5D4DD9;
}

.btn-plain {
    position: relative;
}
.btn-plain::before, .btn-plain::after {
    position: absolute;
    width: calc( 100% - 40px );
    height: 1px;
    background: #0A2145;
    top: calc(100% + -4px);
    left: 20px;
}

.btn-plain::before {
    content: '';
    transform-origin: 100% 50%;
    transform: scale3d(0, 1, 1);
    transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
}

.btn-plain:hover::before {
    transform-origin: 0% 50%;
    transform: scale3d(1, 1, 1);
    transition-timing-function: cubic-bezier(0.4, 1, 0.8, 1);
}

.btn-plain::after {
    content: '';
    top: calc(100% + -8px);
    transform-origin: 0% 50%;
    transform: scale3d(0, 1, 1);
    transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
}

.btn-plain:hover::after {
    transform-origin: 100% 50%;
    transform: scale3d(1, 1, 1);
    transition-timing-function: cubic-bezier(0.4, 1, 0.8, 1);
}

.btn-primary span {
	position: relative;
	mix-blend-mode: hard-light;
    color: #fff;
}
.btn-primary::before {
	content: '';
    position: absolute;
	background-color: #5D4DD9;
	width: 120%;
    height: 100%;
    top: 0;
	left: -10%;
	transform: skew(30deg);
	transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

a:hover:before {
	transform: translate3d(100%,0,0);
}
/* -------- Colors -------- */
/* Sky Blue: #92E4EF */
/* Deep Purple: #5D4DD9 */
/* Peach: #FA7B6B */
/* Tinted Gray: #C6C2E1 */
/* Text: #0A2145 */
/* Charcoal: #1E1E1E */

/* Mobile nav */
#mobile_nav {
    margin: 0;
    padding: 0;
    position: sticky;
    top: 0;
    background-color: #fff;
    width: 100%;
    height: 70px;
    z-index: 1000;
    transition: all 0.4s;
}
#mobile_nav.show {
    height: 470px;
    margin-bottom: 10px;
}
#mobile_nav ul {
    width: 195px;
    height: 195px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 15px;
    top: 56%;
    right: -27%;
    position: relative;
}
#mobile_nav .logo {
    padding: 15px;
}
.menu-header {
    display: flex;
    align-content: center;
    justify-content: space-between;
    width: 100%;
}
.menu-header #menu-icon {
    width: 30px;
    padding: 15px;
    align-self: center;
    cursor: pointer;
}
#mobile_nav ul li {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* desktop nav*/
#desktop_nav {
    z-index: 100;
}
#desktop_nav ul {
    margin-left: auto;
}

.check-out-prices {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}


@media only screen and (min-width: 992px) {

    #mobile_nav {
        display: none!important;
    }
    
}

@media only screen and (max-width:460px) {
    .check-out-prices {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .check-out-prices p {
        margin-top: 20px;
    }
}
@media only screen and (max-width: 992px) {
    section.row {
        padding: 3rem 1rem;
    }
}
@media only screen and (max-width: 425px) {
    section.row {
        padding: 3rem 0.5rem;
    }
}

    
    


.circle-menu {
    z-index: 3400;
    position: relative;
    height: 600px;
    width: 600px;
    border-radius: 350px;
    background-color: #796AEF;
    right: -250px;
    top: -340px;
    transition: all 0.3s ease-out;
    align-items: center;
    justify-content: start;
    transform: scale(0);
}
.circle-menu.show {
    transform: scale(1);
}
.btn-circle-menu li {
    color: #fff;
    padding: 10px 40px;
    text-align: center;
}

.btn-circle-menu li:after {
    height: 2px;
    width: 100px;
    position:absolute;
    left: 0px;
    top: 0;
    background-color: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 36.46%, #FFFFFF 66.15%, rgba(255, 255, 255, 0) 100%);
    background-color: #fff;
}
.circle-menu .extra-circle {
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 100%;
    top: 2%;
    left: 5%;
    background-color: #5D4DD9;
}

.circle-menu .btn {
    height: 45px;
}

img {
    -webkit-user-drag: none;
    user-select: none;
}
@media only screen and (max-width:425px) {
    .circle-menu.show {
        width: 115vw;
        height: 115vw;
        right: calc(-60px - 6vw);
        top: calc(-2vw - 40vw);
    }
    #mobile_nav ul {
        top: 19%;
        right: -23%;
    }
}
@media only screen and (max-width:380px) {
    #mobile_nav ul {
        top: 19%;
        right: -23%;
    }
}

footer.row {
    background-color: #1E1E1E;
    padding: 1.5em 4em;
    margin: 0;
    z-index: 20;
    position: relative;
}
footer a.btn, footer p {
    color: #ffffff;
    padding-right: 20px;
}
footer ul.menu-buttons {
    margin-bottom: 3em;
}
footer .btn-plain::before, footer .btn-plain::after {
    background: #ffffff!important;
}
footer .footer-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 24px;
}


@media only screen and (max-width: 768px) {
    footer.row {
        padding: 1.5rem;
    }
    footer.row p {
        padding: 0 1rem 0 0;
    }
    footer.row .button-contain a {
        margin: 16px auto;
    }
}

.hidden {
    display: none;
}