section.row {
    border: none;
    justify-content: center;
}
#packages_splash {
    text-align: center;
    max-width: 810px;
    margin: 64px auto -12px auto;
    padding: 0 24px;
}
#packages_splash p {
    padding: 16px;
    max-width: 400px;
    margin: 0 auto;
}

/* Copied from about page */

#prices_info p {
    text-indent: 32px;
}

#prices_info {
    max-width: 760px;
    margin: 4rem auto;
}
#prices_info .columns {
    display: flex;
}
.person-image-container {
    background-image: url(images/blob.svg);
    width: 200px;
    height: 200px;
    display: flex;
}
.person-image-container img {
    width: 94%;
    margin-left: 4%;
}
blockquote {
    border-left: solid 5px #FA7B6B;
    text-indent: 48px;
    font-style: italic;
    letter-spacing: 1.3px;
    font-size: 20px;
    line-height: 30px;
    padding: 16px 24px;
    margin-bottom: 24px;
    max-width: 395px;
}



/* table */


.rounded-lg {
    border-radius: 1rem !important;
  }
  
  .text-small {
    font-size: 0.9rem !important;
  }
  
  .custom-separator {
    width: 5rem;
    height: 6px;
    border-radius: 1rem;
    background-color: #5D4DD9;
  }
  
  .text-uppercase {
    letter-spacing: 0.2em;
  }
  .h6, h6 {
    font-size: 1rem;
}

.price-card img {
    height: 16px;
    margin-bottom: -2px;
    margin-right: 6px;
}
.price-card .text-muted img {
    height: 13px;
    margin-right: 8px;
    margin-left: 1px;
}
.price-card ul li {
    text-align: left;
    line-height: 26px;
}
.limited-time-wrap {
    position: absolute;
    overflow: hidden;
    right: 0;
    border-radius: 1rem;
}
.limited-time {
    position: relative;
    background-color: #5D4DD9;
    color: #fff;
    padding: 7.5rem 6.6rem 1rem 10.2rem;
    transform: rotate(26deg) scale(1);
    right: -120px;
    top: -110px;
    line-height: 25px;
    transition: all 0.1s;
    animation: limited-bounce 3s infinite linear;
    animation-timing-function: ease-in-out;
    user-select: none;
}
.limited-time span {
    font-size: 32px;
    font-weight: 600;
}

@keyframes limited-bounce {
    0% {transform: rotate(26deg) scale(1);}
    
    60% {transform: rotate(26deg) scale(1);}
    62.5% {transform: rotate(26deg) scale(1.1);}
    65% {transform: rotate(26deg) scale(1);}

    70% {transform: rotate(26deg) scale(1);}
    72.5% {transform: rotate(26deg) scale(1.1);}
    75% {transform: rotate(26deg) scale(1);}

    100% {transform: rotate(26deg) scale(1);}
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .free-package .price-card {
        padding-top: 3rem!important;
    }
    .price-card {
        padding: 1.25rem !important;
    }
}
@media only screen and (min-width: 992px) {
    .check-out-prices {
        justify-content: start;
    }
    
}
@media only screen and (max-width: 992px) {
    #prices_info .check-out-prices p {
        padding-top: 20px;
        text-indent: 0;
        left: 12px;
        position: relative;
    }
    #prices_info {
        padding: 0 2rem;
    }
    .price-card h2 {
        font-size: 36px;
    }
}
@media only screen and (max-width: 768px) {
    #packages_splash p {
        padding: 24px 0;
    }
    #prices_info .columns{
        flex-direction: column
    }
    #prices_info .left-column {
        display: flex;
        align-self: center;
    }
    #prices_info .left-column .person-image-container {
        margin-right: 0rem!important;
    }
    .limited-time {
        padding: 7.4rem 5.9rem 0.4rem 8.9rem;
        line-height: 20px;
    }
    .limited-time span {
        font-size: 26px;
    }
}
@media only screen and (max-width: 578px) {
    .price-card {
        padding: 2rem !important;
    }
}
@media only screen and (max-width: 425px) {
    .free-package .price-card {
        padding-top: 4rem!important;
    }
}

@media only screen and (max-width: 490px) {
    section.row {
        margin: 1.5rem 0;
    }
    h3 {
        font-size: 26px;
        line-height: 32px;
    }
    #prices_info {
        padding: 0 0.25rem;
    }
    blockquote {
        font-size: 18px;
        padding: 12px 0px 12px 16px;
        text-indent: 24px;
    }
    .free-package .price-card {
        padding-top: 4rem!important;
    }
    .limited-time {
        white-space: nowrap;
    }
    .limited-time span {
        font-size: 23px
    }
}
@media only screen and (max-width: 390px) {
    .price-card {
        padding: 1rem !important;
    } 
    #prices .row {
        padding: 0!important;
    }
}