#recent_work {
    padding: 3em 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#simple_post_logo {
    width: 350px;
    padding: 1em;
    margin: 6em auto;
    border: 1px solid #C6C2E1;
    border-radius: 12px;
    box-shadow: 0 0 8px rgba(0,0,0,0.25);
    text-decoration: none;
}
#simple_post_logo:focus,
#simple_post_logo:visited {
    color: #0A2145;
}

#simple_post_logo img {
    width: calc(100% - 6em);
    margin: 0 auto;
    z-index: 2;
    display: block;
}
#simple_post_logo hr {
    margin: 2em 0 1em;
    opacity: 0.2;
}
.spaced-letter-style {
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.2em;
    opacity: 0.5;
    text-align: center;
    width: 100%;
    color: #0A2145;
    text-decoration: none;
}

#image_with_shelf {
    display: flex;
    flex-direction: column;
}
#image_with_shelf .display-desktop {
    margin: 0 auto -70px auto;
    z-index: 2;
}
#image_with_shelf .display-mobile {
    display: none;
}

@media only screen and (max-width: 992px) {
    #image_with_shelf .display-desktop {
        width: 610px;
    }
}

@media only screen and (max-width: 768px) {
    #image_with_shelf .display-desktop {
        display: none;
    }
    #image_with_shelf .display-mobile {
        display: block;
        margin: 0 auto -70px auto;
        z-index: 2;
    }
}

@media only screen and (max-width: 425px) {
    #simple_post_logo {
        margin: 6em 1em;
        width: calc(100% - 8em);
    }
    #simple_post_logo p {
        font-size: 19px;
        line-height: 34px;
        letter-spacing: 0.18em;
    }
    #image_with_shelf .display-mobile {
        width:340px;
    }
}

#recent_work p {
    max-width: 450px;
    margin-top: 16px;
    text-align: center;
}

#case_study_details {
    display: flex;
    margin-top: 64px;
}
#case_study_details .divider {
    width: 1px;
    background-color: rgba(0,0,0,0.2);
    margin: 0 64px;
}

.site-card {
    background-color: #fff;
    box-shadow: 2px 2px 9px #e5e5e5;
    position: relative;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 325px;
    overflow: hidden;
    transition: all 0.2s;
    top: 0;
    left: 0;
    border: 1px solid #ddd;
}
.site-card:hover {
    top: -4px;
    left: -4px;
    box-shadow: 6px 6px 9px #e5e5e5;
}

.site-card a {
    position: relative;
    height: 100%;
}
.site-card img {
    position: absolute;
    bottom: calc(0 - 195px);
    transition: all 4s;
}
.site-card .thumbnail {
    height: 100%;
    background-position-y: 0;
    transition: all 7s ease-out;
    background-size: 100%;
}
.hover-me {
    opacity: 0.5;
    position: absolute;
    font-size: 1.3rem;
    width: 100%;
    text-align: center;
    top: -30px;
}
@media only screen and (min-width:992px) {
    .site-card:hover .thumbnail {
        background-position-y: 100%;
    }
}
@media only screen and (max-width:991px) {
    .hover-me {
        display: none;
    }
    .site-card.visible .thumbnail {
        background-position-y: 100%;
    }
    #case_study_details {
        margin: 4em 1.5em;
    }
    #case_study_details .site-card {
        width: 275px;
        height: 200px;
    }
    #case_study_details .divider {
        margin: 0 2.25em 0 1.5em;
    }
}
@media only screen and (max-width: 768px) {
    #case_study_details .site-card {
        width: 275px;
        height: 325px;
    }
    #testimonial_content {
        flex-direction: column!important;
        align-items: center;
        padding: 20px;
    }
    #testimonial_content img.noah {
        max-width: 200px;
        margin: 30px 0 0 0!important;
    }
}
@media only screen and (max-width: 768px) {
    #case_study_details {
        flex-direction: column-reverse;
    }
    #case_study_details .site-card {
        width: 100%;
        height: 325px;
        margin: 48px 0;
    }
}

#list_details ul li {
    font-size: 18px;
    margin: 12px 8px 12px 12px;
    line-height: 24px;
    text-indent: -26px;
}
#list_details ul li:before {
    content:url(images/Purple-check.svg);
    margin-right: 8px;
}

#testimonial_content img.noah {
    margin-left: 30px
}

